.buttonclass{
    background-color: cornflowerblue;
    border-radius: 5vh;
    color:black;
}
.buttonclass1{
    background-color: deeppink;
    border-radius: 5vh;
    color: black;
}
.formCss{
    background-color:deepskyblue;
    color: black;
    margin-left: 50;
    border: 1px solid;
    width: 50vh;
    height: 50vh;
}